/* Main container styles remain unchanged */
.allContainer {
    background-color: var(--color-grey-30);
}

.welcome-container {
    background-color: var(--color-grey-30);
    display: flex;
    height: 100vh;
    max-width: 100rem;
    margin: 0 auto;
    align-items: center;
    justify-content: start;
    column-gap: 2.8rem;
    overflow: auto;
}

.text-box {
    width: 40%;
}

.text-box h1 {
    font-size: var(--font-xl);
    line-height: 1.2;
    letter-spacing: 1.5px;
    font-weight: 500;
}

.image-box {
    width: 50%;
}

.image-box img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

/* Button container */
.loginButtons {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin-top: 1.8rem;
    gap: 0.8rem;
}

/* Common button base */
.loginButtons button {
    width: 100%;
    border: 1px solid var(--color-grey-900);
    height: var(--space-40);
    border-radius: var(--radius-xxl);
    margin: var(--space-4);
    color: var(--color-grey-900);
}

.Btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    width: 100%;
    transition: all 0.3s;
    position: relative;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0 3rem;
}

.Btn:hover {
    background-color: var(--color-primary);
    color: #fff;
}

.btn-icon,
.microsoft-image,
.email-icon {
    position: absolute;
    left: 4.9rem;
    top: 50%;
    transform: translateY(-50%);
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease, border-radius 0.2s ease;
}

/* Google icon */
.btn-icon {
    width: 34px;
    height: 34px;
    padding: 2px;
}
.microsoft-image img {
    width: 20px;
    height: 20px;
}

.email-icon {
    font-size: 1.8rem;
    color: #ea4335;
}

.Btn:hover .btn-icon,
.Btn:hover .microsoft-image,
.Btn:hover .email-icon {
    background-color: #fff;
    border-radius: 50%;
}

.loginButtons p {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-grey-500);
    margin-top: 1.2rem;
    text-align: center;
}

.buttons p strong {
    font-size: 14px;
    color: #054834;
    font-weight: 700;
}
